.container {
  
    outline: 5px solid blue;
    width: 500px;
    height: 500px;
    /* margin: 500px; */
   
   
    display: flex;
    flex-flow: row wrap;


   
    
}



.squares {
    border: solid red 0.5px;    
    box-sizing: border-box;
    flex: 1 1 auto ;
 
    


}



